body
{
    background-color:black;
}
header
{
    float:left;
    color:darkred;
    font-family:fantasy;
    font-size:50px;
    max-width:100px;
    text-align: center;
}
div
{
    float:right;
    color:blue;
    font-size:50px;
}
#search
{
    font-size:25px;
    color:brown;
}